:root {
  --font-size-default: 12pt;

  --color-background: #10141A;
  /*--color-background: #151F2E;*/

  /* Footer */
  --dimension-footer-height: 80px;

  --color-footer-background: white;
  --color-text-footer: #707070;

  --color-github: #333;
  --color-github-hover: #2e2e2e;

  --color-twitter: #1da1f2;
  --color-twitter-hover: #178ad1;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto;
  border-width: thin;
  src: url("fonts/Roboto-Thin.ttf");
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif, serif;
  font-size: var(--default-font-size);
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  min-height: 100%;

  position: absolute;
}
