<footer>
  <div class="copyright">&copy; Philipp Schlesinger</div>
  <div class="social-media">
    <div class="github">
      <div class="social-icon">
        <a href="https://github.com/OfficialPhilcomm" target="_blank">
          <?php include 'assets/icons/github.svg' ?>
        </a>
      </div>
      <div class="social-text">
        <div class="text">
          Github:
        </div>
        <a href="https://github.com/OfficialPhilcomm" target="_blank">@OfficialPhilcomm</a>
      </div>
    </div>

    <div class="twitter">
      <div class="social-icon">
        <a href="https://twitter.com/dev_philcomm" target="_blank">
          <?php include 'assets/icons/twitter.svg' ?>
        </a>
      </div>
      <div class="social-text">
        <div class="text">
          Twitter:
        </div>
        <a href="https://twitter.com/dev_philcomm" target="_blank">@dev_philcomm</a>
      </div>
    </div>
  </div>
</footer>
