:root {
  --color-dark: #10141A;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}
html,body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: calc(100vh - var(--dimension-footer-height));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

footer {
  width: 100%;
  margin-top: auto;
}
