* {
  font-family: Roboto;

  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  overflow-x: hidden;

  background-color: #10141A;
}

main .visuals #sketch-holder {
  padding: 0 10px;
}

main .visuals #sketch-holder #flappy-canvas {
  width: 100% !important;
  max-width: 500px !important;
  height: auto !important;
}

main .text-section {
  width: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 40px 0 0 0;
  padding: 0 0 10px 0;
}
main .text-section h1, main .text-section p {
  width: 100%;
}
main .text-section h1 {
  text-align: center;
  margin-top: 30px;
}
main .text-section p {
  text-align: justify;
  padding: 0 20px;
  width: 420px;
  max-width: 100%;
  line-height: 1.6;
}
main .text-section ul {
  text-align: left;
  list-style: none;
}
main .text-section ul li::before {
  content: '-';
  margin-left: -20px;
  margin-right: 10px;
}

main .visuals {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #sketch-holder {
  text-align: center;
}

main .settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  padding: 0 10px;

  width: 100%;
  max-width: 500px;
  overflow-x: hidden;
}

main .settings table {
  border-radius: 10px;
  background-color: white;

  padding: 10px;
}

main .settings button {
  background-color: white;
  border: 2px solid #10141A;
  border-radius: 100px;
  padding: 5px 10px;
  margin-left: 5px;

  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
  transition: 200ms color,border;
}
main .settings button:hover {
  color: #2e394a;
  border: 2px solid #2e394a;
}

@media screen and (min-width: 1000px) {
  main .visuals {
    flex-direction: row;
  }
}
