footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer .copyright {
  font-weight: bold;
}

footer .social-media {
  margin-left: auto;
}
footer .social-media img {
  height: 24pt;
}

footer .social-media a {
  text-decoration: none;
  font-weight: bold;
  transition: 100ms color ease-in;
}

footer .social-media a.github {
  color: #333;
}
footer .social-media a.github {
  color: #2e2e2e;
}

footer .social-media a.twitter {
  color: #1da1f2;
}
footer .social-media a.twitter:hover {
  color: #178ad1;
}
