* {
  font-family: Roboto;

  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  overflow-x: hidden;

  background-color: #10141A;
}

main .text-section {
  width: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 40px 0 0 0;
  padding: 0 0 10px 0;
}
main .text-section h1, main .text-section p {
  width: 100%;
}
main .text-section h1 {
  text-align: center;
  margin-top: 30px;
}
main .text-section p {
  text-align: justify;
  padding: 0 20px;
  width: 420px;
  max-width: 100%;
  line-height: 1.6;
}
main .text-section ul {
  text-align: left;
  list-style: none;
}
main .text-section ul li::before {
  content: '-';
  margin-left: -20px;
  margin-right: 10px;
}
main .text-section ol {
  width: 420px;
  padding: 0 20px 0 40px;
  text-align: left;
}
