html,body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

main {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 300px;

  font-size: 16pt;
  padding: 5px;
}

#buttons {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#buttons::after {
  content: "";
  flex: auto;
}

button {
  border: none;
  background-color: #4287f5;
  color: white;
  font-size: 16pt;
  border: 2px solid #4287f5;
  border-radius: 5px;
  margin: 5px;
  transition: 200ms all;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: white;
  color: #4287f5;
}

#generated {
  margin-top: 10px;
}
