#more_information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
}

#more_information div.title {
  width: 100%;
  font-size: var(--font-size-medium);
}

#more_information div.no-orders {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-medium);
}

#more_information progressbar {
  width: 100%;
}

#more_information table td.right {
  text-align: right;
}

#more_information .buttons {
  width: 100%;
}

#more_information .buttons button {
  padding: 5px 10px;

  background-color: white;
  border: 2px solid #3bb9ff;
  border-radius: 100px;
  color: #3bb9ff;

  cursor: pointer;

  transition: 200ms all;
}
#more_information .buttons button:hover {
  background-color: #3bb9ff;
  color: white;
}
