#more_information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
}

#more_information div.title {
  width: 100%;
  font-size: var(--font-size-medium);
}

#more_information progressbar {
  width: 100%;
}

#more_information table td.right {
  text-align: right;
}
