main #popup-container {
  z-index: 10;

  box-sizing: border-box;

  position: absolute;

  width: 100%;
  height: 100%;

  padding: calc(var(--nav-height) + 10px) 10px 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

#popup-container .popup {
  background-color: white;
  border-radius: 10px;

  padding: 20px;

  position: relative;
}

#popup-container .popup.changelog {
  z-index: 100;
}

#popup-container .popup .close {
  position: absolute;

  top: 5px;
  right: 5px;

  cursor: pointer;

  height: calc(var(--font-size-small) * 1.6);
}

#popup-container .popup button {
  padding: 5px 10px;

  background-color: white;
  border: 2px solid #00c949;
  border-radius: 100px;
  color: #00c949;

  cursor: pointer;

  transition: 200ms all;

  margin-right: 10px;
}

#popup-container .popup button:hover {
  background-color: #00c949;
  color: white;
}
#popup-container .popup button:last-child {
  margin-right: 0;
}
#popup-container .popup button.no-button {
  border: 2px solid #ed4040;
  color: #ed4040;
}
#popup-container .popup button.no-button:hover {
  background-color: #ed4040;
  color: white;
}

#popup-container .popup .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#popup-container .popup .buttons.centered {
  justify-content: center;
}

#popup-container td.right {
  text-align: right;
}
