:root {
  --color-dark: #10141A;

  /* Footer */
  --dimension-footer-height: 80px;

  --color-footer-background: white;
  --color-text-footer: #707070;

  --color-github: #333333;
  --color-github-hover: #1f1f1f;

  --color-twitter: #1da1f2;
  --color-twitter-hover: #178ad1;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto;
  border-width: thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}
html,body {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: white;
}

main .top {
  width: 100%;
  height: 600px;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-dark);

  position: relative;
}
main .top .title {
  color: white;

  font-size: 40px;
  text-align: center;
}
main .top .typewriter {
  color: white;

  font-size: 20px;
  text-align: center;
}
main .top .typewriter {
  color: white;

  min-height: 20px;
  font-size: 20px;
}
main .top .typewriter::after {
  background-color: white;
  height: 20px;
}
main .top .arrow-down {
  width: 30px;

  position: absolute;
  bottom: 10px;
}

main .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
}
main .project .circle {
  width: 200px;
  height: 200px;

  padding: 30px;

  border: 1px solid black;
  border-radius: 1000px;

  cursor: pointer;
}
main .project .circle img {
  width: 100%;
  height: 100%;
}
main .project .description {
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
}

main .about-me {
  width: 100%;

  color: white;
  background-color: var(--color-dark);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 40px 0 0 0;
  padding: 0 0 10px 0;
}
main .about-me h1, main .about-me p {
  width: 100%;
}
main .about-me h1 {
  text-align: center;
  margin-top: 30px;
}
main .about-me p {
  text-align: justify;
  padding: 0 20px;
  width: 420px;
  max-width: 100%;
  line-height: 1.6;
}

footer {
  padding: 1rem;
  background-color: var(--color-footer-background);
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: var(--dimension-footer-height);
}

footer .social-media {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-media .github, footer .social-media .twitter {
  margin-left: 10px;
}

footer .social-media svg {
  height: 40px;
}

footer .social-media .social-text {
  display: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-media .social-icon-svg {
  background-color: var(--color-footer-background);

  transition: 200ms fill;
}
footer .social-media .github .social-icon-svg {
  fill: var(--color-github);
}
footer .social-media .github .social-icon-svg:hover {
  fill: var(--color-github-hover);
}
footer .social-media .twitter .social-icon-svg {
  fill: var(--color-twitter);
}
footer .social-media .twitter .social-icon-svg:hover {
  fill: var(--color-twitter-hover);
}

@media screen and (min-width: 600px) { /* For tablets and up.*/
  footer .social-media .social-icon {
    display: none;
  }

  footer .social-media .social-text {
    display: flex;
  }

  footer .social-media .social-text .text {
    margin-right: 5px;
  }

  footer .social-media .social-text a {
    text-decoration: none;

    font-weight: bold;

    transition: 200ms color;
  }

  footer .social-media .github .social-text a {
    color: var(--color-github);
  }
  footer .social-media .github .social-text a:hover {
    color: var(--color-github-hover);
  }

  footer .social-media .twitter .social-text a {
    color: var(--color-twitter);
  }
  footer .social-media .twitter .social-text a:hover {
    color: var(--color-twitter-hover);
  }
}

@media screen and (min-width: 768px) { /*for laptops and desktops*/

}
